.questionBox{
    width: 70%;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff3da;
    padding: 0.5%;
    margin-top: 2%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0px 2px 0 #1d67f0, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}
    .questionBox .questionTextTitle,.questionBox .questionCodeTitle{
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
        color: #3D4597;
        margin-bottom: -1%;

    }
    .questionBox .questionArgsTitle,.questionBox .questionKeybdTitle,.questionBox .questionInputTitle{
        font-size: 70%;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin-bottom: -1%;

    }
    .questionBox .submitQuestion .questionText textarea{
        font-size: 110%;
        width: 70%;
        height: 130px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.3%;
        margin-left: auto;
        margin-right: auto;
        white-space: pre;
        margin-bottom: 0.3%;
        word-break: break-word;
    }
    .questionBox .submitQuestion{
        margin: 0.5%;
    }
    .questionBox .submitQuestion .codeField{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        width: 50%;
        padding: 0.3%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        word-break: break-word;
        white-space: pre;
    }
    .questionBox .submitQuestion .argsField{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        width: 40%;
        padding: 0.3%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        word-break: break-word;
    }
    .questionBox .submitQuestion .keybdField, .questionBox .submitQuestion .inputField{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        width: 45%;
        padding: 0.3%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
        word-break: break-word;
        white-space: pre;
    }
    .questionBox .submitQuestion .btnSubmit{
        margin: 0.2%;
        color: #3D4597;
        font-weight: 500;
        box-shadow: 0 0px 2px 0 #3D4597, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    }
    .questionBox .submitQuestion .btnExecute{
        margin: 0.2%;
        color: green;
        font-weight: 500;
        box-shadow: 0 0px 2px 0 green, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
        
    }
    .questionBox .submitQuestion .textarea{
        width: 100%;
        
    }
    .resultBox{
        margin-top:2%;
        width: 80%;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .errorMsg{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: red;
        box-sizing: border-box;
        border-radius: 6px;
        white-space: pre-wrap;
    }
    .execMsg{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #3D4597;
        box-sizing: border-box;
        border-radius: 6px;
        white-space: pre-wrap;
    }