body {
margin: 0%;
}
    .chaptersBox{
        width: 80%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
        .chaptersBox .chapter{
            text-align: center;
            background-color: #fff3da;
            padding: 8px;
            width: 280px;
            margin-top: 10%;
            box-sizing: border-box;
            border-radius: 6px;
            box-shadow: 0 0px 2px 0 #1d67f0, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
        
        }
        .chaptersBox .chapter a{
            font-size: 20px;
            text-decoration: none;
        }