body {
margin: 0%;
}
    .newsBox{
        width: 80%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
        .newsBox .news{
            font-size: 25px;
        }