body {
    margin: 0%;
    }
        .questionsBox{
            width: 90%;
            height: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-top:5%;
            
        }
            .questionsBox .question{
                text-align: center;
                background-color: #fff3da;
                padding: 0.2%;
                width: 45%;
                margin-left: 3.3%;
                margin-top: 2%;
                box-sizing: border-box;
                border-radius: 6px;
                box-shadow: 0 0px 2px 0 #1d67f0, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
                text-decoration: none;
                float: left;
            }
            .questionsBox .question .text{
                color: black;
                font-size: 100%;
                text-decoration: none;
                text-align: left;
                margin-left: 5%;
                
            }
            .questionsBox .question .details{
                color: black;
                font-size: 80%;
                text-decoration: none;
                float: left;
                width: 33.3%;
            }

.questionsCriteria{
    text-align: center;
    background-color: #fff3da;
    padding: 0.2%;
    width: 85%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: -5%;
    box-shadow: 0 0px 2px 0 #1d67f0, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    text-decoration: none;

}
    .questionsCriteria input,.questionsCriteria select{
        color: black;
        font-size: 100%;
        text-decoration: none;
        float: left;
        width: 10%;
        margin-top: 1%;
    }
    .questionsCriteria select:nth-of-type(4){
        color: black;
        font-size: 100%;
        text-decoration: none;
        float: left;
        width: 12%;
        margin-top: 1%;
    }
    .questionsCriteria h3{
        color: black;
        font-size: 100%;
        text-decoration: none;
        float: left;
        width: auto;
        margin-left: 1.5%;
        margin-right: 0.5%;
        margin-top: 1.4%;
    }
    .questionsCriteria .refreshButton{
        color: #3D4597;
        font-weight: 500;
        box-shadow: 0 0px 2px 0 #3D4597, 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
        font-size: 100%;
        text-decoration: none;
        float: left;
        width: 11%;
        margin-left: 3%;
    }